/* Component enclosing tag */
.Contact {
  position: relative;
  top: 150px;
  padding: 1em;
  background: #555;
  width: 220px;
  display: flex;
  align-items: center;
}

/* Contact image */
.Contact .avatarBox {
  height: 100%;
}

.Contact .avatar {
display: flex;
align-items: center;
justify-content: center;
margin-right: 1em;
width: 48px;
height: 48px;
overflow: hidden;
border-radius: 50%;
}

/* Name */
.Contact .name {
  margin: 0 0 0.25rem;
  color: #eee;
  font-size: 1.1em;
}

/* Status text */
.Contact .status .status-text {
  color: #999;
  margin: 0;
}

/* Status (rounded&colored indicator) */
.Contact .status .status-online,
.Contact .status .status-offline {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 6px;
}

.Contact .status .status-online {
  background: #aed581;
}

.Contact .status .status-offline {
  background: #f4511e;
}

.Contact .status {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 67px;
  height: 25px;
  padding-left: 6px;
  cursor: pointer;
  border-radius: 10px;
}

.Contact .status:hover {
  background-color: rgba(0,0,0,.1);
  background-size: 120%;

}

.Contact .infos {
  text-align: left;
}