
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
height: 150px;
  width: 100vw;
  position: absolute;
  top: 0px;
}

.Header-Content {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0.5;
}
.App-logo {
  height: 120px;
  border-radius: 15px;
}

.App-link {
  color: #09d3ac;
}
